@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: normal;
  src: local('Annie Use Your Telescope'), local('AnnieUseYourTelescope'), url('http://themes.googleusercontent.com/static/fonts/annieuseyourtelescope/v3/2cuiO5VmaR09C8SLGEQjGgtSTT_xyPSRqbb82lxMsRH3rGVtsTkPsbDajuO5ueQw.woff') format('woff');
}
body {
  padding-top: 0px; /* 60px to make the container go all the way to the bottom of the topbar */
  background-color: #0A1619;
  background: url('../themes/swagsonville/swag-tile-final.png');
  background-attachment: fixed;
  background-position: center;
}
#bg {
    position: relative;
    top: 0;
    bottom: 0;
    width: 846px;  
    margin: 0 auto;
    background: url('../themes/swagsonville/diagonal_striped_brick-dark.gif');
    background-attachment: fixed;
    background-position: top center;
    background-color: #2F2D2D;
    box-shadow: 0 0 30px 5px #000;
    -webkit-box-shadow: 0 0 30px 5px #000;
}
.navbar {
  display: none;
}
.container {
  width: 846px;
}
.row {
  margin-left: 15px;
  margin-right: 15px;
}
.span3 {
  width: 272px;
  margin:0px;
}
#col1 {
  margin: 0px;
}
#col2 {
  margin: 0px;
}
#col3 {
  margin: 0px;
}
#sb-info {
  bottom: 20px;
  right: 25px;
}
.post {
  width: 260px;
  height: 260px;
  position: relative;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 12px;
  background-color: #2E2E2E;
  padding: 0;
  overflow: hidden;
}
.post :hover {
    cursor: pointer;
}
/*
.post a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
}
*/
.postHead {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/over.png') no-repeat;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 3;
  text-align: center;
}
.postHead h3 {
    xfont-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Francois One', sans-serif;
/*
    text-align: justify;
    text-shadow: 3px 3px black;
*/    
    font-size: 22px;
    font-style: normal;
    line-height: 1em;
    color: white;
    padding: 0 10px;
    margin-top: 80px;
    text-transform: uppercase;
}
.postHead h3.short {
    font-size: 38px;
}
.postHead p {
    color: #00FF6C;  
    font-family: 'Montaga', serif;
    xfont-style: italic; 
    font-weight: normal; 
}
abbr[title] {
    border-bottom: 0;
}
.postImg {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.postImg .video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url('../img/video.png');
    background-repeat: no-repeat;
    background-position: center;        
}
div.postFoot {
    display: none;
}
.info {
    display: none;
}
p.text {
    background-color: #BFBFBF;
    margin-bottom: 0;
    padding: 10px;
}
div.loading {
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 10;
    margin: 100px auto;
    width: 66px;
}
div.description {
  display: none;
}
div.openPost {
  position: relative;
  padding: 20px;
  border: 5px solid black; 
}
div.openPostHead {
  text-align: left;
  border-bottom: 1px dashed #858585;
  margin-bottom: 5px;
  padding-bottom: 7px;
  position: relative;
  overflow: hidden;
  padding-top: 0px;
}
div.openPostTitle {
  width: 100%;
  padding-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}
div.openPostSubTitle {
  margin: 5px 0 10px 0;
  clear: both;
  color: #888;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px; 
}
div.openPostComments {
}
div.openPostComment {
}
span.openPostCommentAuthor {
}
span.openPostCommentText {
}
h4.title a {
  color: #444;
}
h4.title {
  font-size: 13pt;
}
div.openPostContentWrap {
  display: block;
}
div.openPostContent {
  padding: 0;
  margin: 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  clear: both;
  z-index: 1;
}
div.openPostImgWrap {
}
div.openPostImgWrap img {
  display: block;
  border: 2px solid #8AD;
  max-width: 640px;
  max-height: 480px;
  margin: 0 auto;
}
div.openPostTextWrap {
  position: relative;
  display: block;
  background: #BFBFBF;
  border: 1px solid #CDE6F0;
  margin: 20px auto 0;
  padding: 20px;  
}
div.openPostText {
  font-size: 12px;
  color: #333;
}
/*
div.openPostFoot {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #F2F0F0; 
  color: #AD9C9C;
  border-top: 1px solid #D9D4D4;
}
*/
div.addBar {
  margin-top: 12px;
  margin-left: 6px;
  margin-bottom: 12px;
  /* background-color: #757171; */
  background-color: transparent;
  height: 45px; 
}
div.addBarLeft img {
  width: 100%;
}

div.addBarLeft {
  width: 806px;;
}

@media (max-width: 565px){
  #bg {
    max-width: 846px;
    width: 100%;
  }    
  .container {
    width: 100%;
  }
  .row {
    margin: 0 auto;
  }
  .span3 {
    width: 100%;
  }
  div.addBarLeft {
    margin: 0 auto;
    width: 260px;
    height: auto;        
  }
  .post {
    margin: 12px auto 0;
  }
  .post :hover {
    cursor: auto; 
  }  
  .postHead {
    background: transparent;
    height: auto;
    position: relative;
  }
  .postHead :hover {
    cursor: pointer;
  }
  .postImg {
    height: auto; 
    text-align: center;
    margin-bottom: 10px;
  }
  .postImg :hover {
    cursor: pointer;
  }
}

.mobileClick {
    display: block;
    top: 0;
    left: 0;    
}
.mobileClick .headline {
    margin-top: 20px;
}

/*
@media (min-width: 1200px) {
  .span3 {
    width: 300px;
  }
}
@media (min-width: 980px) and (max-width: 1199px){
@media (min-width: 980px) {
  div.post {
    width: 300px;
    height: 300px; 
  }
  div.addBarLeft {
    margin-right: -20px;
    width: 300%;
  }
  div.addBarRight {
    margin-left: -20px;
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px){
  div.post {
    width: 225px; 
    height: 225px;
  }
  div.addBarLeft {
    margin-right: -20px;
    width: 300%;
  }
  div.addBarRight {
    margin-left: -20px;
    margin-right: 2px;
  }  
}
@media (max-width: 767px){
  div.post {
  }
  div.addBarLeft {
    margin: 10px 0 0 0;
    width: 100%;
  }
  div.addBarRight {
    height: 0;
  }
  div.addbarCenter {
    height: 0;
  }
}
*/
