body {
  padding-top: 0px; /* 60px to make the container go all the way to the bottom of the topbar */
  background-color: #0A1619;
  font-family: Gill Sans / Gill Sans MT, sans-serif;
}
#bg {
  width: auto;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
}
div.post, div.postMain {
  box-shadow: 0 1px 3px rgba(34,25,25,0.4); background-color: white; padding: 15px 15px 0px; margin-top: 15px;
}
div.postMain {
  padding: 0;
  display: none;
}
#col1 {
  margin-left :0;
}
div.description {
  display: none;
  margin: 10px 0 5px; line-height: 1.35em;
  overflow: hidden;
}
div.postImg {
  padding-bottom: 10px;
}
div.postImgMain {
  padding: 0 15px 10px 0; 
}
div.postImgMain img {
  width: 100%;
}
div.postHead {
  padding-bottom: 10px;
}
div.postHead h3 {
  text-decoration: none;
}
div.postHead a:hover {
  text-decoration: none;
}
div.postMainHead a:hover {
  text-decoration: none;
}
#postMain .postFoot {
  margin-right: 0px;
}
div.postFoot {
  display: none;
  margin: 0 -15px 0 -15px; color: #AD9C9C; padding: 10px 15px; background-color: #F2F0F0; border-top: 1px solid #D9D4D4;
}
div.loading {
  z-index: 10;
  margin: 0 auto;
  width: 256px;
}
div.openPost {
  position: relative;
  background-color: #F7F5F5;
  padding: 20px;
  border: 5px solid black;
  margin-bottom: 15px;
  overflow: none;  
}
div.openPostHead {
  text-align: left;
  border-bottom: 1px dashed #E7E6E3;
  margin-bottom: 5px;
  padding-bottom: 7px;
  position: relative;
  overflow: hidden;
  padding-top: 0px;
}
div.openPostTitle {
  display: inline-block;
  width: 90%;
  padding-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  color: #444;
  font-size: 18pt;
}
div.openPostSubTitle {
  margin: 5px 0 10px 0;
  clear: both;
  color: #888;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px; 
}
h2.title {
  color: #444;
  font-size: 18pt;
}
div.openPostContentWrap {
  display: block;
  /* height: 90%;
  width: 90%; */
}
div.openPostContent {
  padding: 0;
  margin: 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  clear: both;
  z-index: 1;
}
div.openPostImg {
  margin: 0 auto;
}
div.openPostImg img {
  display: block;
  border: 2px solid #8AD;
  max-width: 640px;
  max-height: 480px;
  margin: 0 auto;
}
div.openPostText {
  position: relative;
  display: block;
  background: #E9F4F8;
  border: 1px solid #CDE6F0;
  margin: 20px auto 0;
  padding: 20px;
  font-size: 12px;
  color: #333;
  max-width: 600px;
}
div.openPostFoot {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #F2F0F0; 
  color: #AD9C9C;
  border-top: 1px solid #D9D4D4;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .span9 {
    width: 850px;
  }
  .span3 {
    width: 270px;
  }
  div.postMain {
    width: 825px;
    padding: 15px;
  }
  div.post {
    width: 240px; 
  }
  .imgPost {
    width: 230px;
  }
  .imgMain {
    width: 840px;
  }
  
}
@media (min-width: 980px) and (max-width: 1199px){
  .container {
    width: 1050px;
  }
  .span9 {
    width: 775px;
  }
  .span3 {
    width: 245px;
  }
  div.post {
    width: 215px;
  }
  div.postMain {
    width: 755px;
    padding: 10px;
  }
  .imgPost {
    width: 190px;
  }
  .imgMain {
    width: 680px;
  }

}
@media (min-width: 768px) and (max-width: 979px){
  .container {
    width: 860px;
  }
  .span9 {
    width: 640px;
  }
  .span3 {
    width: 200px;        
  }
  div.post {
    width: 170px; 
  }
  div.postMain {
    width: 620px;
    padding: 10px;
  }
  .imgPost {
    width: 170px;
  }
  .imgMain {
    width: 524px;
  }
}
@media (max-width: 767px) {
  div.post {
    width: 210px;  
  }
  div.postMain {
    width: 210px; 
  }
  .imgMain {
    width: 200px;
  }
  .imgPost {
    width: 200px;
  }
}